<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ cart.order.orde_1c_number }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static', path='/js/bootstrap-input-spinner.js') }}"></script>
</head>

<body>

<div class="container">
    <button type="button" id="save" class="btn btn-warning">Сохранить</button>

    {% for item in cart.items %}
    <div class="card border-info mb-3" style="width: 100%;">
        <h5 class="card-header">{{ item.name }}
            <button type="button" class="btn-close" aria-label="Close"></button>
        </h5>
        <div class="card-body">
            <footer class="blockquote-footer">Артикул: {{ item.article_item }} | <cite title="Source Title">Код: {{ item.code_item }}</cite></footer>
            <div class=“card border-info mb-3”>
                <div class="container text-center">
                    <div class="row">
                        <div class="col">
                            <h5>{{ item.price }} руб.</h5>
                        </div>
                        <div class="col">
                            <i class="bi bi-percent">{{ item.discount }} | {{ item.bonus }} Арткоин</i>
                        </div>
                    </div>
                </div>
            </div>
            <p>
                <input class="form-control-lg" type="number" data-suffix="шт." value="500" min="0" max="{{ item.quantity }}" step="1"/>
            </p>
        </div>
        <div class="card-footer text-body-secondary">
            {{ item.sum }} руб.
        </div>
    </div>
    {% endfor %}

    <button type="button" id="save2" class="btn btn-warning">Сохранить</button>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script src="https://telegram.org/js/telegram-web-app.js"></script>
<script>
    $("input[type='number']").inputSpinner()
    $(".buttons-only").inputSpinner({buttonsOnly: true, autoInterval: undefined})
</script>

<script>
    let tg = window.Telegram.WebApp;
    let save = document.getElementById("save");

    save.addEventListener('click', () => {
        tg.close()
    })

</script>
</body>
</html>