<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ cart.order.orde_1c_number }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', path='/js/bootstrap-input-spinner.js') }}"></script>
</head>
<body>
<div class="container">
    <form id="cartForm" method="POST" action="/tg/{{ cart.driver.id }}/orders/{{ cart.order.id }}/cart">
        <input type="submit" value="Сохранить" id="save">
        {% for item in cart.items %}
        <div class="card border-info mb-3" style="width: 100%;">
            <h5 class="card-header">{{ item.name }}</h5>
            <div class="card-body">
                <footer class="blockquote-footer">
                    Артикул: {{ item.article_item }} | Код: {{ item.code_item }}
                </footer>
                <p>
                    <input class="form-control-lg" type="number" data-suffix="{{ item.unit }}"
                           value="{{ item.quantity_shipped }}" min="0"
                           max="{{ item.quantity }}" step="1" name="shipped_{{ item.id }}"/>
                </p>
                <p class="card-text"><small class="text-muted">
                    {{ item.price }} руб. * {{ item.quantity }} {{ item.unit }}. - {{ item.bonus }}A - {{ item.discount }}% = {{ item.sum }} руб
                </small></p>

            </div>
        </div>
        {% endfor %}
    </form>
</div>


<script src="https://telegram.org/js/telegram-web-app.js"></script>
<script>
    $("input[type='number']").inputSpinner()
    $(".buttons-only").inputSpinner({buttonsOnly: true, autoInterval: undefined})
</script>

<script>
    let tg = window.Telegram.WebApp;
    let save = document.getElementById("save");

    save.addEventListener('click', () => {
        tg.close()
    })

</script>
</body>
</html>
